get_url pass incorrect If-Modified-Since header

<!--- Verify first that your issue is not already reported on GitHub -->
<!--- Also test if the latest release and devel branch are affected too -->
<!--- Complete *all* sections as described, this form is processed automatically -->

##### SUMMARY
<!--- Explain the problem briefly below -->
`get_url` module add `If-Modified-Since` http request header. But its value does not follow HTTP protocol.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
<!--- Write the short name of the module, plugin, task or feature below, use your best guess if unsure -->

`get_url`

##### ANSIBLE VERSION
<!--- Paste verbatim output from "ansible --version" between quotes -->
```paste below
ansible --version
ansible 2.9.4
  config file = None
  configured module search path = [u'/Users/wangzw/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /Library/Python/2.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.16 (default, Dec  3 2019, 02:03:47) [GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.31)]
```

##### CONFIGURATION
<!--- Paste verbatim output from "ansible-config dump --only-changed" between quotes -->
```paste below
None
```

##### OS / ENVIRONMENT
<!--- Provide all relevant information below, e.g. target OS versions, network device firmware, etc. -->


##### STEPS TO REPRODUCE
<!--- Describe exactly how to reproduce the problem, using a minimal test-case -->

<!--- Paste example playbooks or commands between quotes below -->
```yaml
---
- hosts: localhost
  tasks:
    - name: test
      get_url:
        url: "http://xxx/xxx.jar"
        dest: "/tmp/xxx.jar"
        mode: '0700'

```

<!--- HINT: You can paste gist.github.com links for larger files -->

##### EXPECTED RESULTS
<!--- Describe what you expected to happen when running the steps above -->
Run command `ansible-playbook -v -i hosts test.yml` twice. Success all the time.

##### ACTUAL RESULTS
<!--- Describe what actually happened. If possible run with extra verbosity (-vvvv) -->
Run command `ansible-playbook -v -i hosts test.yml` twice. Success at the first time and failed at the second time. `HTTP Error 400: Bad Request` is reported.

<!--- Paste verbatim command output between quotes -->
```paste below
ansible-playbook -v -i hosts test.yml 
No config file found; using defaults

PLAY [localhost] ********************************************************************************************************************************************

TASK [Gathering Facts] **************************************************************************************************************************************
[WARNING]: Platform darwin on host localhost is using the discovered Python interpreter at /usr/bin/python, but future installation of another Python
interpreter could change this. See https://docs.ansible.com/ansible/2.9/reference_appendices/interpreter_discovery.html for more information.

ok: [localhost]

TASK [test] *************************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "dest": "/tmp/xxx.jar", "elapsed": 0, "gid": 20, "group": "staff", "mode": "0700", "msg": "Request failed", "owner": "wangzw", "response": "HTTP Error 400: Bad Request", "size": 94741968, "state": "file", "status_code": 400, "uid": 501, "url": "http://xxx/xxx.jar"}

PLAY RECAP **************************************************************************************************************************************************
localhost                  : ok=1    changed=0    unreachable=0    failed=1    skipped=0    rescued=0    ignored=0   

```


##### ROOT CAUSE

`If-Modified-Since: Fri, 14 Feb 2020 04:50:33 -0000` is added to the request header but the HTTP server rejects the request. 

Response body:
```
<Error>
	<Code>InvalidArgument</Code>
	<Message>The If-Modified-Since you specified is not valid</Message>
	<Resource>xxx.jar</Resource>
	<RequestId>xxx</RequestId>
	<TraceId>xxx</TraceId>
</Error>
```

According  to [Hypertext Transfer Protocol -- HTTP/1.1](https://tools.ietf.org/html/rfc2616#section-14.25), the value of header `If-Modified-Since` should follow the [grammar](https://tools.ietf.org/html/rfc2616#section-3.3.1) as follow.

```
       HTTP-date    = rfc1123-date | rfc850-date | asctime-date
       rfc1123-date = wkday "," SP date1 SP time SP "GMT"
       rfc850-date  = weekday "," SP date2 SP time SP "GMT"
       asctime-date = wkday SP date3 SP time SP 4DIGIT
       date1        = 2DIGIT SP month SP 4DIGIT
                      ; day month year (e.g., 02 Jun 1982)
       date2        = 2DIGIT "-" month "-" 2DIGIT
                      ; day-month-year (e.g., 02-Jun-82)
       date3        = month SP ( 2DIGIT | ( SP 1DIGIT ))
                      ; month day (e.g., Jun  2)
       time         = 2DIGIT ":" 2DIGIT ":" 2DIGIT
                      ; 00:00:00 - 23:59:59
       wkday        = "Mon" | "Tue" | "Wed"
                    | "Thu" | "Fri" | "Sat" | "Sun"
       weekday      = "Monday" | "Tuesday" | "Wednesday"
                    | "Thursday" | "Friday" | "Saturday" | "Sunday"
       month        = "Jan" | "Feb" | "Mar" | "Apr"
                    | "May" | "Jun" | "Jul" | "Aug"
                    | "Sep" | "Oct" | "Nov" | "Dec"
```

And some examples:

```
      Sun, 06 Nov 1994 08:49:37 GMT  ; RFC 822, updated by RFC 1123
      Sunday, 06-Nov-94 08:49:37 GMT ; RFC 850, obsoleted by RFC 1036
      Sun Nov  6 08:49:37 1994       ; ANSI C's asctime() format
```

And value `Fri, 14 Feb 2020 04:50:33 -0000` passed by `get_url` does not follow above grammar. Correct value shoud be `Fri, 14 Feb 2020 04:50:33 GMT`

##### RELEATED ISSUE
#44857
#44868

Files identified in the description:
* [`lib/ansible/modules/net_tools/basics/get_url.py`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/net_tools/basics/get_url.py)

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: components_banner --->

cc @jpmens @ptux
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: notify --->

Any comments on this issue?

cc @sivel 