‎URL safe b64encode and ‎b64decode

### Summary

The current ‎b64encode and ‎b64decode filters do not allow for producing encoded strings according to [RFC 4648 section 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5), commonly referred to as base64url, which are intended for use in URLs and file names. I recently had cause to require this for building a URL in a template, and had to resort to a custom filter plugin. This wasn't difficult at all, however I thought the community may benefit from this being made available to all in the core filters.

Python's base64 module used by the current filter implementation provides this out of the box; so before I rattle off a PR, are we in agreement that such a thing would be useful?

Should such a feature be implemented by adding an optional parameter to the existing base64 filters, or by implementation of an altogether new pair? Python's module provides different functions, but my thoughts were that fewer similarly named filters in the same namespace would be the preferable option for Ansible.

### Issue Type

Feature Idea

### Component Name

plugins

### Additional Information

<!--- Paste example playbooks or commands between quotes below -->
```
# My config file
url_param = {{ my_variable | b64encode(urlsafe=True) }}
```
Or alternately something like
```
# My config file
url_param = {{ my_variable | urlsafe_b64encode }}
```

### Code of Conduct

- [X] I agree to follow the Ansible Code of Conduct

Files identified in the description:

None

If these files are incorrect, please update the `component name` section of the description or use the [component](https://github.com/ansible/ansibotmini#commands) bot command.

<!--- boilerplate: components_banner --->


Jinja already has a built in urlencode https://jinja.palletsprojects.com/en/3.0.x/templates/#jinja-filters.urlencode

I understand that: Jinja's `urlencode` filter applies URL percent encoding as per [RFC3986](https://datatracker.ietf.org/doc/html/rfc3986#section-2.1). It does not perform base 64 encoding of binary data.

[RFC 4648 section 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5) uses a modified alphabet for use in URLs and filenames. Specifically the 62nd and 63rd characters, '+' and '/', are replaced with '-' and '_', and I think the trailing padding is also removed. I'm proposing a solution to make this capability available to Ansible's templating facility.

Just for an example, OAuth2 code challenges must be encoded in this manner: see [Google's docs](https://developers.google.com/identity/protocols/oauth2/native-app#create-code-challenge). They are also used in construction of JWTs.

I'm fine with adding this, it's simple enough.  I'd go with an argument to the existing filters.

Hi @andrensairr, do you have plans to implement this? If not, I can pick up the issue, if it's ok for you all.

I did, yes, and I still do, but I missed the small window I had to do it around the time I raised the issue. It might be a couple more weeks before I get to it yet.

Ok then, happy contributions, it'd be good feature for Ansible 🚀 