restconf httpapi plugin Media Type

<!--- Verify first that your issue is not already reported on GitHub -->
<!--- Also test if the latest release and devel branch are affected too -->
<!--- Complete *all* sections as described, this form is processed automatically -->

##### SUMMARY
<!--- Explain the problem briefly below -->
`restconf` **httpapi** Plugin is hardcoded with a media type preventing the successful use.

According RFC 8040 section 11.3 **Media Types** the media type encodings are: 

**JSON**: yang-data+json

**XML:** yang-data+xml

The plugin uses **yang.data+json** and **yang.data+xml**. 

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
<!--- Write the short name of the module, plugin, task or feature below, use your best guess if unsure -->
 !component lib/plugins/httpapi/restconf.py
**restconf** plugin for the **httpapi** connection plugin
##### ANSIBLE VERSION
<!--- Paste verbatim output from "ansible --version" between quotes -->
```paste below
(ansible2.8) C02VJ0K7HTDD:playbooks andiorij$ ansible --version
ansible 2.8.0
  config file = None
  configured module search path = ['/Users/andiorij/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /Users/andiorij/development/python_virtual_environments/ansible2.8/lib/python3.6/site-packages/ansible
  executable location = /Users/andiorij/development/python_virtual_environments/ansible2.8/bin/ansible
  python version = 3.6.4 (default, Jan  6 2018, 11:51:15) [GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.39.2)]
```

##### CONFIGURATION
<!--- Paste verbatim output from "ansible-config dump --only-changed" between quotes -->
```paste below

```

##### OS / ENVIRONMENT
<!--- Provide all relevant information below, e.g. target OS versions, network device firmware, etc. -->
**Target Device:**
Cisco Catalyst 9300 
Cisco IOS XE Software, Version 16.09.01s

##### STEPS TO REPRODUCE
<!--- Describe exactly how to reproduce the problem, using a minimal test-case -->
- enable restconf on network device
- execute playbook
<!--- Paste example playbooks or commands between quotes below -->
```yaml
- name: Test New RESTCONF Modules
  hosts: dna-3-a1.campus.wwtatc.local
  gather_facts: no
  connection: httpapi

  vars: 
    ansible_connection: httpapi
    ansible_httpapi_port: 443
    ansible_httpapi_use_ssl: yes
    ansible_network_os: restconf
    ansible_user: wwt
    ansible_httpapi_password: *******
    ansible_httpapi_validate_certs: false
    ansible_become: true
    ansible_become_method: enable

  tasks: 
    - name: restconf_get 
      restconf_get:
        content: config
        output: json
        path: /data/Cisco-IOS-XE-native:native/username
      register: cat9k_rest_config

    - debug: var=cat9k_rest_config
```

<!--- HINT: You can paste gist.github.com links for larger files -->

##### EXPECTED RESULTS
<!--- Describe what you expected to happen when running the steps above -->
Expect to successfully establish session to retrieve configuration data from device using restconf. 

##### ACTUAL RESULTS
<!--- Describe what actually happened. If possible run with extra verbosity (-vvvv) -->

<!--- Paste verbatim command output between quotes -->
```paste below
(ansible2.8) C02VJ0K7HTDD:playbooks andiorij$ ansible-playbook -i ../../ansible/atc_campus_automation/inventory restconfig_test.yml --ask-vault-pass -vvvv
ansible-playbook 2.8.0
  config file = None
  configured module search path = ['/Users/andiorij/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /Users/andiorij/development/python_virtual_environments/ansible2.8/lib/python3.6/site-packages/ansible
  executable location = /Users/andiorij/development/python_virtual_environments/ansible2.8/bin/ansible-playbook
  python version = 3.6.4 (default, Jan  6 2018, 11:51:15) [GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.39.2)]
No config file found; using defaults
Vault password: 
setting up inventory plugins
host_list declined parsing /Users/andiorij/ansible/atc_campus_automation/inventory/hosts.yml as it did not pass it's verify_file() method
script declined parsing /Users/andiorij/ansible/atc_campus_automation/inventory/hosts.yml as it did not pass it's verify_file() method
Parsed /Users/andiorij/ansible/atc_campus_automation/inventory/hosts.yml inventory source with yaml plugin
Loading callback plugin default of type stdout, v2.0 from /Users/andiorij/development/python_virtual_environments/ansible2.8/lib/python3.6/site-packages/ansible/plugins/callback/default.py

PLAYBOOK: restconfig_test.yml **********************************************************************************************************************************
Positional arguments: restconfig_test.yml
verbosity: 4
connection: smart
timeout: 10
become_method: sudo
tags: ('all',)
inventory: ('/Users/andiorij/ansible/atc_campus_automation/inventory',)
ask_vault_pass: True
forks: 5
1 plays in restconfig_test.yml

PLAY [Test New RESTCONF Modules] *******************************************************************************************************************************
META: ran handlers

TASK [restconf_get] ********************************************************************************************************************************************
task path: /Users/andiorij/development/playbooks/restconfig_test.yml:38
Trying secret <ansible.parsing.vault.PromptVaultSecret object at 0x10e96f978> for vault_id=default
Trying secret <ansible.parsing.vault.PromptVaultSecret object at 0x10e96f978> for vault_id=default
Trying secret <ansible.parsing.vault.PromptVaultSecret object at 0x10e96f978> for vault_id=default
Trying secret <ansible.parsing.vault.PromptVaultSecret object at 0x10e96f978> for vault_id=default
<dna-3-a1.campus.wwtatc.local> attempting to start connection
<dna-3-a1.campus.wwtatc.local> using connection plugin httpapi
<dna-3-a1.campus.wwtatc.local> local domain socket does not exist, starting it
<dna-3-a1.campus.wwtatc.local> control socket path is /Users/andiorij/.ansible/pc/8fb8a2a6d1
<dna-3-a1.campus.wwtatc.local> connection to remote device started successfully
<dna-3-a1.campus.wwtatc.local> local domain socket listeners started successfully
<dna-3-a1.campus.wwtatc.local> loaded API plugin for network_os restconf
<dna-3-a1.campus.wwtatc.local> ESTABLISH HTTP(S) CONNECTFOR USER: wwt TO https://dna-3-a1.campus.wwtatc.local:443
<dna-3-a1.campus.wwtatc.local> 
<dna-3-a1.campus.wwtatc.local> local domain socket path is /Users/andiorij/.ansible/pc/8fb8a2a6d1
<dna-3-a1.campus.wwtatc.local> ESTABLISH LOCAL CONNECTION FOR USER: andiorij
<dna-3-a1.campus.wwtatc.local> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /Users/andiorij/.ansible/tmp/ansible-local-269980l7fbe8t/ansible-tmp-1558393928.6365771-202412951554247 `" && echo ansible-tmp-1558393928.6365771-202412951554247="` echo /Users/andiorij/.ansible/tmp/ansible-local-269980l7fbe8t/ansible-tmp-1558393928.6365771-202412951554247 `" ) && sleep 0'
<dna-3-a1.campus.wwtatc.local> Attempting python interpreter discovery
<dna-3-a1.campus.wwtatc.local> EXEC /bin/sh -c 'echo PLATFORM; uname; echo FOUND; command -v '"'"'/usr/bin/python'"'"'; command -v '"'"'python3.7'"'"'; command -v '"'"'python3.6'"'"'; command -v '"'"'python3.5'"'"'; command -v '"'"'python2.7'"'"'; command -v '"'"'python2.6'"'"'; command -v '"'"'/usr/libexec/platform-python'"'"'; command -v '"'"'/usr/bin/python3'"'"'; command -v '"'"'python'"'"'; echo ENDFOUND && sleep 0'
<dna-3-a1.campus.wwtatc.local> Python interpreter discovery fallback (unsupported platform for extended discovery: darwin)
Using module file /Users/andiorij/development/python_virtual_environments/ansible2.8/lib/python3.6/site-packages/ansible/modules/network/restconf/restconf_get.py
<dna-3-a1.campus.wwtatc.local> PUT /Users/andiorij/.ansible/tmp/ansible-local-269980l7fbe8t/tmpxxyxph_a TO /Users/andiorij/.ansible/tmp/ansible-local-269980l7fbe8t/ansible-tmp-1558393928.6365771-202412951554247/AnsiballZ_restconf_get.py
<dna-3-a1.campus.wwtatc.local> EXEC /bin/sh -c 'chmod u+x /Users/andiorij/.ansible/tmp/ansible-local-269980l7fbe8t/ansible-tmp-1558393928.6365771-202412951554247/ /Users/andiorij/.ansible/tmp/ansible-local-269980l7fbe8t/ansible-tmp-1558393928.6365771-202412951554247/AnsiballZ_restconf_get.py && sleep 0'
<dna-3-a1.campus.wwtatc.local> EXEC /bin/sh -c '/usr/bin/python /Users/andiorij/.ansible/tmp/ansible-local-269980l7fbe8t/ansible-tmp-1558393928.6365771-202412951554247/AnsiballZ_restconf_get.py && sleep 0'
<dna-3-a1.campus.wwtatc.local> EXEC /bin/sh -c 'rm -f -r /Users/andiorij/.ansible/tmp/ansible-local-269980l7fbe8t/ansible-tmp-1558393928.6365771-202412951554247/ > /dev/null 2>&1 && sleep 0'
The full traceback is:
WARNING: The below traceback may *not* be related to the actual failure.
  File "/var/folders/4k/0h2f46195894hhfhvz76ddl0k8209r/T/ansible_restconf_get_payload_OS239p/__main__.py", line 98, in main
    response = restconf.get(module, **module.params)
  File "/var/folders/4k/0h2f46195894hhfhvz76ddl0k8209r/T/ansible_restconf_get_payload_OS239p/ansible_restconf_get_payload.zip/ansible/module_utils/network/restconf/restconf.py", line 45, in get
    return connection.send_request(None, path=path, method='GET', accept=accept)
  File "/var/folders/4k/0h2f46195894hhfhvz76ddl0k8209r/T/ansible_restconf_get_payload_OS239p/ansible_restconf_get_payload.zip/ansible/module_utils/connection.py", line 186, in __rpc__
    raise ConnectionError(to_text(msg, errors='surrogate_then_replace'), code=code)

 [WARNING]: Platform darwin on host dna-3-a1.campus.wwtatc.local is using the discovered Python interpreter at /usr/bin/python, but future installation of
another Python interpreter could change this. See https://docs.ansible.com/ansible/2.8/reference_appendices/interpreter_discovery.html for more information.

fatal: [dna-3-a1.campus.wwtatc.local]: FAILED! => {
    "ansible_facts": {
        "discovered_interpreter_python": "/usr/bin/python"
    },
    "changed": false,
    "code": 406,
    "invocation": {
        "module_args": {
            "content": "config",
            "output": "json",
            "path": "/data/Cisco-IOS-XE-native:native/username"
        }
    },
    "msg": "HTTP Error 406: Not Acceptable"
}

PLAY RECAP *****************************************************************************************************************************************************
dna-3-a1.campus.wwtatc.local : ok=0    changed=0    unreachable=0    failed=1    skipped=0    rescued=0    ignored=0 
```


Files identified in the description:
* [lib/ansible/plugins/connection](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection)

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: components_banner --->

Files identified in the description:
* [lib/ansible/plugins/connection](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection)
* [lib/ansible/plugins/httpapi/restconf.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/httpapi/restconf.py)

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: components_banner --->

cc @NilashishC @Qalthos @ganeshrn @gdpak @justjais @rcarrillocruz @trishnaguha
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: notify --->