Regression: subjectAltName is marked as optional in openssl_csr, but it isn't

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_csr

##### ANSIBLE VERSION
```
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/<user>/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Aug  4 2017, 00:39:18) [GCC 4.8.5 20150623 (Red Hat 4.8.5-16)]

```

##### CONFIGURATION
```
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
```

##### OS / ENVIRONMENT
Managing CentOS 7.4 from itself

##### SUMMARY
The `subjectAltName` property of the CSR isn't a required field for an x509 certificate. It is leveraged in many common use-cases, but this update actually broke my use-case. The documentation marks the field as optional, but the module populates it with the CN by default. This doesn't make any sense when you're using x509 certs for, say, client authentication. My name is @dcode but I don't have a DNS name ;-).

The lines that were added in December that cause this behavior are here:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/crypto/openssl_csr.py#L349-L353

##### STEPS TO REPRODUCE
<!---
For bugs, show exactly how to reproduce the problem, using a minimal test-case.
For new features, show how the feature would be used.
-->

<!--- Paste example playbooks or commands between quotes below -->
```yaml
- openssl_csr:
    path: /home/dcode/.pki/csr/dcode_user.csr
    privatekey_path: /home/dcode/.pki/private/dcode_user.pem
    common_name: dcode
```

##### EXPECTED RESULTS
I expected that I didn't specify `subject_alt_name` that my CSR wouldn't contain that extension.

##### ACTUAL RESULTS
What actually happened was a CSR that took my CN and threw it into subjectAltName as a DNS name.

Files identified in the description:
* [lib/ansible/modules/crypto/openssl_csr.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/crypto/openssl_csr.py)

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: components_banner --->

cc @Spredzy
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: notify --->

cc @MarkusTeufelberger 

Is it actually a problem that your certificate contains this extension? You said it broke your use-case but I am not sure how things would break anyways, even if the "domain" in SAN is wrong in a client certificate.

Not doing it this way (which is standard in e.g. cfssl too) would lead to issues for a lot of other people:

" If a subjectAltName extension of type dNSName is present, that MUST
be used as the identity. Otherwise, the (most specific) Common Name
field in the Subject field of the certificate MUST be used. Although
the use of the Common Name is existing practice, **it is deprecated** and
Certification Authorities are encouraged to use the dNSName instead."

https://tools.ietf.org/html/rfc2818#section-3.1 paragraph 4

See also the discussion at https://www.reddit.com/r/sysadmin/comments/677hep/chrome_58_not_supporting_self_signed_certificates/, https://www.chromestatus.com/feature/4981025180483584 and https://groups.google.com/a/chromium.org/forum/#!topic/security-dev/IGT2fLJrAeo for example.

If you look further at the client auth though:

> 3.2 <https://tools.ietf.org/html/rfc2818#section-3.2>. Client Identity


> Typically, the server has no external knowledge of what the client's
> identity ought to be and so checks (other than that the client has a
> certificate chain rooted in an appropriate CA) are not possible. If a
> server has such knowledge (typically from some source external to
> HTTP or TLS) it SHOULD check the identity as described above.


The problem is the server tries to validate the client by the
subjectAltName. If the name isn't resolvable in DNS, that validation
will fail (which is what's happening in my use case).

The fallback is to validate that the client cert was issued by a trusted CA.


On Feb 26, 2018 05:35, "MarkusTeufelberger" <notifications@github.com>
wrote:

> Is it actually a problem that your certificate contains this extension?
> You said it broke your use-case but I am not sure how things would break
> anyways, even if the "domain" in SAN is wrong in a client certificate.
>
> Not doing it this way (which is standard in e.g. cfssl too) would lead to
> issues for a lot of other people:
>
> " If a subjectAltName extension of type dNSName is present, that MUST
> be used as the identity. Otherwise, the (most specific) Common Name
> field in the Subject field of the certificate MUST be used. Although
> the use of the Common Name is existing practice, *it is deprecated* and
> Certification Authorities are encouraged to use the dNSName instead."
>
> https://tools.ietf.org/html/rfc2818#section-3.1 paragraph 4
>
> See also the discussion at https://www.reddit.com/r/
> sysadmin/comments/677hep/chrome_58_not_supporting_self_
> signed_certificates/, https://www.chromestatus.com/
> feature/4981025180483584 and https://groups.google.com/a/
> chromium.org/forum/#!topic/security-dev/IGT2fLJrAeo for example.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/ansible/ansible/issues/36690#issuecomment-368472637>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAKeNoOmXDRNvx11MugCYBogy1UYTmO8ks5tYpcVgaJpZM4SSVu7>
> .
>


If you look further at the client auth though:

> 3.2  Client Identity
> Typically, the server has no external knowledge of what the client's
> identity ought to be and so checks (other than that the client has a
> certificate chain rooted in an appropriate CA) are not possible. If a
> server has such knowledge (typically from some source external to
> HTTP or TLS) it SHOULD check the identity as described above.

The problem is the server tries to validate the client by the subjectAltName. If the name isn't resolvable in DNS, that validation will fail (which is what's happening in my use case).

The fallback is to validate that the client cert was issued by a trusted CA.

* Edited for formatting. Replying via email from my phone was a poor choice. :smile: 

To be clear, I completely understand your position. The issue is that I'm not using this x509 certificate for HTTP over TLS server authentication. x509 has much broader scope than just TLS, and the use of subjectAltName varies according to the type of identity being verified See RFC 5280, [Section 4.2.1.6](https://tools.ietf.org/html/rfc5280#section-4.2.1.6)).

Given the RFC discussion, I may need to use an email address, DNS name, URI, or several other options for my subjectAltName. But whatever I use, if subjectAltName is present, the server MUST verify it.
>    Because the subject alternative name is considered to be definitively  bound to the public key, all parts of the subject alternative name MUST be verified by the CA.

If I specify an email address as my CN the server cannot verify this through a DNS name. Unfortunately, there's no good way to auto-populate this in the module according to the type of a string specified for CN alone.

Yeah, custom types for inputs to tasks would be awesome, but that's a bigger discussion.

I would also love to remove this "auto-SAN" behavior, but I'm afraid that the moment this gets released tons of people will write bug reports about how their certificate is rejected. Imho explicit is better than implicit though... maybe @Spredzy also has some opinion on this?

I also have issues with how the openssl_* modules deal with subjectAltName.

For one I often create CAs using ansible, and those are not supposed to have a SAN in the first place. Ansible seems to default them to CN of the subject, which is plain wrong since that CN will often non-hostname strings.

It should at least be possible to specify an empty subjectAltName so that it becomes possible to generate a CSR/certficate without a SAN. That does not seem possible at the moment.


For example, Thawte SSL123 product does not support SAN-records, and .csr created with this module is unusable

cc @felixfontein
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: notify --->

I am still reading and needing this.
Willing to advise on advanced usecases if required.

One of my primary usecases is provisioning nodes in a distributed cluster for IPsec with an entirely ansible-managed CA. Would also like to use it for satellite SMTP authentication in the future.

I hope I explained the reasoning for the existing functionality well enough. I'm however definitely not against extending it, so if you still need this functionality, I'm more than happy to help review and merge your suggested implementation.

There will be a new option for the `openssl_csr` module in Ansible 2.8 called `useCommonNameForSAN`, which is by default set to `true`; if you set it to `false`, the common name will never be added as a SAN.