Issue with redhat_subscription module

Hi,
I'm trying to register new machines with ansible. 
Prior using ansible I used to run:
`subscription-manager register --org="MYCOMPANY" --activationkey="MYKEY"`

In my ansible playbook i used redhat_subscription module in this way:
``` 
- name: Register and subscribe to Satellite server 
      redhat_subscription:
        state: present
        activationkey: MYKEY
        org_id: MYCOMPANY
```

when I try to run playbook i receive this error:
```
fatal: [10.45.20.37]: FAILED! => {"changed": false, "cmd": "/usr/sbin/subscription-manager register --org MYCOMPANY --activationkey VALUE_SPECIFIED_IN_NO_LOG_PARAMETER", "msg": "Validation failed: Name hostname can contain only lowercase letters, numbers, dashes and dots according to RFC921, RFC952 and RFC1123, Name hostname can contain only lowercase letters, numbers, dashes and dots according to RFC921, RFC952 and RFC1123", "rc": 70, "stderr": "Validation failed: Name hostname can contain only lowercase letters, numbers, dashes and dots according to RFC921, RFC952 and RFC1123, Name hostname can contain only lowercase letters, numbers, dashes and dots according to RFC921, RFC952 and RFC1123\n", "stderr_lines": ["Validation failed: Name hostname can contain only lowercase letters, numbers, dashes and dots according to RFC921, RFC952 and RFC1123, Name hostname can contain only lowercase letters, numbers, dashes and dots according to RFC921, RFC952 and RFC1123"], "stdout": "", "stdout_lines": []}
```

I also tried to use organization id number instead name but it fails anyway.
Where am i wronging?
Thanks,
Fabio


Hi @ruzzetto, thank you for submitting this issue!

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: thank_submitter --->

@ruzzetto: in order for the community to handle your issue effectively, we need a bit more information.

Here are the items we could not find in your description:
- issue type
- ansible version
- component name

Please set the description of this issue with this template:
https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: issue_missing_data --->

List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us. 

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net   
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

Thank you once again and we look forward to seeing you on the list or IRC.  Thanks!