restconf_config POST method issue

<!--- Verify first that your issue is not already reported on GitHub -->
<!--- Also test if the latest release and devel branch are affected too -->
<!--- Complete *all* sections as described, this form is processed automatically -->

##### SUMMARY
<!--- Explain the problem briefly below -->
restconf_config module 'post' method expected on Resource identifier

According to RFC 8040(Section 4.5: PUT), 
"The target resource for the POST method for resource creation is the parent of the new resource."

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
<!--- Write the short name of the module, plugin, task or feature below, use your best guess if unsure -->
restconf_config

##### ANSIBLE VERSION
<!--- Paste verbatim output from "ansible --version" between quotes -->
```paste below
ansible 2.8.0.dev0
  config file = None
  configured module search path = ['/Users/ukomarla/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /Users/ukomarla/github/ansible/lib/ansible
  executable location = /Users/ukomarla/github/ansible/bin/ansible
  python version = 3.7.2 (default, Feb 12 2019, 08:15:36) [Clang 10.0.0 (clang-1000.11.45.5)]
```

##### CONFIGURATION
<!--- Paste verbatim output from "ansible-config dump --only-changed" between quotes -->
```paste below

```

##### OS / ENVIRONMENT
<!--- Provide all relevant information below, e.g. target OS versions, network device firmware, etc. -->
Target Network OS: EXOS v30.1.1.4

##### STEPS TO REPRODUCE
<!--- Describe exactly how to reproduce the problem, using a minimal test-case -->
https://gist.github.com/ujwalkomarla/a45223b6478875da5caf5a9d4eef4ec8
<!--- Paste example playbooks or commands between quotes below -->

<!--- HINT: You can paste gist.github.com links for larger files -->

##### EXPECTED RESULTS
<!--- Describe what you expected to happen when running the steps above -->
changed: [REST_SW1]
REST_SW1                   : ok=1    changed=1    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
##### ACTUAL RESULTS
<!--- Describe what actually happened. If possible run with extra verbosity (-vvvv) -->
<!--- Paste verbatim command output between quotes -->
```paste below
 ____________________ 
< TASK [Create VLAN] >
 -------------------- 
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

task path: /Users/ukomarla/github/DEVELOPMENT/exos_vlan_restconf.yaml:11
<10.68.5.65> attempting to start connection
<10.68.5.65> using connection plugin httpapi
<10.68.5.65> local domain socket does not exist, starting it
<10.68.5.65> control socket path is /Users/ukomarla/.ansible/pc/4489b11fd3
<10.68.5.65> connection to remote device started successfully
<10.68.5.65> local domain socket listeners started successfully
<10.68.5.65> loaded API plugin for network_os restconf
<10.68.5.65> ESTABLISH HTTP(S) CONNECTFOR USER: admin TO http://10.68.5.65:80
<10.68.5.65> 
<10.68.5.65> local domain socket path is /Users/ukomarla/.ansible/pc/4489b11fd3
<10.68.5.65> ESTABLISH LOCAL CONNECTION FOR USER: ukomarla
<10.68.5.65> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /Users/ukomarla/.ansible/tmp/ansible-local-84313k7ndvm3r/ansible-tmp-1553704425.7108061-236936303502185 `" && echo ansible-tmp-1553704425.7108061-236936303502185="` echo /Users/ukomarla/.ansible/tmp/ansible-local-84313k7ndvm3r/ansible-tmp-1553704425.7108061-236936303502185 `" ) && sleep 0'
<REST_SW1> Attempting python interpreter discovery
<10.68.5.65> EXEC /bin/sh -c 'echo PLATFORM; uname; echo FOUND; command -v '"'"'/usr/bin/python'"'"'; command -v '"'"'python3.7'"'"'; command -v '"'"'python3.6'"'"'; command -v '"'"'python3.5'"'"'; command -v '"'"'python2.7'"'"'; command -v '"'"'python2.6'"'"'; command -v '"'"'/usr/libexec/platform-python'"'"'; command -v '"'"'/usr/bin/python3'"'"'; command -v '"'"'python'"'"'; echo ENDFOUND && sleep 0'
<REST_SW1> Python interpreter discovery fallback (unsupported platform for extended discovery: darwin)
Using module file /Users/ukomarla/github/ansible/lib/ansible/modules/network/restconf/restconf_config.py
<10.68.5.65> PUT /Users/ukomarla/.ansible/tmp/ansible-local-84313k7ndvm3r/tmp34zjjef7 TO /Users/ukomarla/.ansible/tmp/ansible-local-84313k7ndvm3r/ansible-tmp-1553704425.7108061-236936303502185/AnsiballZ_restconf_config.py
<10.68.5.65> EXEC /bin/sh -c 'chmod u+x /Users/ukomarla/.ansible/tmp/ansible-local-84313k7ndvm3r/ansible-tmp-1553704425.7108061-236936303502185/ /Users/ukomarla/.ansible/tmp/ansible-local-84313k7ndvm3r/ansible-tmp-1553704425.7108061-236936303502185/AnsiballZ_restconf_config.py && sleep 0'
<10.68.5.65> EXEC /bin/sh -c '/usr/bin/python /Users/ukomarla/.ansible/tmp/ansible-local-84313k7ndvm3r/ansible-tmp-1553704425.7108061-236936303502185/AnsiballZ_restconf_config.py && sleep 0'
<10.68.5.65> EXEC /bin/sh -c 'rm -f -r /Users/ukomarla/.ansible/tmp/ansible-local-84313k7ndvm3r/ansible-tmp-1553704425.7108061-236936303502185/ > /dev/null 2>&1 && sleep 0'
 [WARNING]: Platform darwin on host REST_SW1 is using the discovered Python interpreter at /usr/bin/python, but future installation of another Python interpreter could change this. See
https://docs.ansible.com/ansible/devel/reference_appendices/interpreter_discovery.html for more information.

fatal: [REST_SW1]: FAILED! => {
    "ansible_facts": {
        "discovered_interpreter_python": "/usr/bin/python"
    },
    "changed": false,
    "code": 409,
    "invocation": {
        "module_args": {
            "content": "{\n    \"openconfig-vlan:vlan\": [\n        {\n            \"config\": {\n                \"name\": \"ansible_1900\",\n                \"status\": \"ACTIVE\",\n                \"tpid\": \"oc-vlan-types:TPID_0x8100\",\n                \"vlan-id\": 1900\n            }\n        }\n    ]\n}\n",
            "format": "json",
            "method": "post",
            "path": "openconfig-vlan:vlans"
        }
    },
    "msg": "resource 'openconfig-vlan:vlans' already exist"
}
 ____________ 
< PLAY RECAP >
 ------------ 
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

REST_SW1                   : ok=0    changed=0    unreachable=0    failed=1    skipped=0    rescued=0    ignored=0   

 ____________ 
< PLAY RECAP >
 ____________


REST_SW1                   : ok=0    changed=0    unreachable=0    failed=1    skipped=0    rescued=0    ignored=0
```


Files identified in the description:
* [lib/ansible/modules/network/restconf/restconf_config.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/restconf/restconf_config.py)

If these files are inaccurate, please update the `component name` section of the description or use the `!component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: components_banner --->

cc @ganeshrn
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: notify --->

@ujwalkomarla, just so you are aware we have a dedicated Working Group for network.
You can find other people interested in this in `#ansible-network` on Freenode IRC
For more information about communities, meetings and agendas see https://github.com/ansible/community

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: community_workgroups --->

Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project